client_secret.json
secrets.json
US_youtube_trending_data.csv.zip
USvideos.csv.zip
virtual/
main_response.json
sample_response.json
US_youtube_trending_data.csv
USvideos.csv

filtered_data.csv
filtered_data1.csv
sample_response.json
bert-yt_classifier/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints
bert-yt_classifier/
