# Dependencies
node_modules/
/extension/node_modules/

# Environment files
.env
.env.*
/extension/.env

# Build files
dist/
build/
extension.zip

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Keep only extension folder
/*
!/extension/
!/README.md
!/LICENSE
!/CONTRIBUTING.MD
!/CODE_OF_CONDUCT.md
!/PRIVACY.md
